<title><%= page_title %></title>
<link
  rel="stylesheet"
  type="text/css"
  href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
/>
<!-- <script
  type="text/javascript"
  src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"
></script> -->
<link rel="stylesheet" type="text/css" href="/stylesheet/uptown.css" />
<link rel="stylesheet" type="text/css" href="/stylesheet/main.css" />
