<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ArenaCommerce WebApp</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="css/main.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://unpkg.com/@shopify/polaris@6.2.0/dist/styles.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script type="text/javascript">
      window.apiKey = '<%= api_key %>'
      window.shopOrigin = '<%= shop %>'
    </script>
  </head>

  <body>
    <div id="root"></div>
    <script type="text/javascript" src="js/main.90faba1234d2816fcd75.js"></script>
  </body>
</html>
