.arena-loading-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 519;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  .loading-page-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Polaris-DisplayText {
    margin-left: 20px;
  }

  .Polaris-ProgressBar {
    width: 100%;
    margin: 40px 20px 0;
    max-width: 400px;
  }

  .Polaris-ProgressBar {
    border-radius: 20px;
    overflow: hidden;
  }
}

.arena-loading-page-progress {
  background-color: rgba(255, 255, 255, 0.8);
}
